{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
{{ include("navbar.html.twig") }}
<div style="max-width:60%">
  <div class="db-threequarter db-left db-max-large">
    <table class="db-table">
      <tr>
        <th style="padding-left:8px">Name</th>
        <th>Date Modified</th>
        <th>Filesize</th>
      </tr>
      {% if cwd_entity.parent != null %}
        <tr style="padding-left:8px" onclick="window.location.href='{{ path('chdir', {id: cwd_entity.parent.id}) }}'">
          <td style="padding-left:8px">
            <b>. .</b>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      {% endif %}
      {% for result in results %}
        {% if result.path is defined %}
          <tr onclick="window.location.href='{{ path('folder_display', {id: result.id, type: 'dir'}) }}'">
        {% else %}
          <tr onclick="window.location.href='{{ path('folder_display', {id: result.id, type: 'file'}) }}'">
        {% endif %}
          <td style="padding-left:8px">
            {% if result.path is defined %}
              <i class="fa-regular fa-folder"></i>
            {% else %}
              <i class="fa-regular fa-file" style="padding-left:2px; padding-right:3px"></i>
            {% endif %}
            {{ result.name }}
          </td>
          <td>
            {% if result.dateModified is defined %}
              {{ result.dateModified|format_datetime('medium', 'short') }}
            {% endif %}
          </td>
          <td>
            {% if result.size is defined %}
              {{ result.size }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {{ include("displays/details.html.twig") }}
  {# {{ include("context_menu.html.twig") }} #}
</div>

<script>



</script>

{% endblock %}