{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
{{ include("navbar.html.twig") }}
<div>
  <div style="display:block">
    <div>
      <a class="db-parent-folder" href="{{ path('chdir', {home: true}) }}">Drive</a>
      {% if cwd_entity.parent != null %}
        <span class="db-parent-separator" style="margin-bottom:10px;"><b>></b></span> 
        <button class="db-parent-folder" href="{{ path('chdir', {id: cwd_entity.parent.id}) }}">{{ cwd_entity.name }}</button>
      {% endif %}
    </div>
    {{ include("displays/details.html.twig") }}
  </div>
  <div class="db-threequarter db-left db-max-large" style="display:block">
    <table class="db-table">
      <tr>
        <th style="padding-left:8px">Name</th>
        <th>Tags</th>
        <th>Date Modified</th>
        <th>Filesize</th>
      </tr>
      {% for result in results %}
        {% if result.path is defined %}
          <tr onclick="window.location.href='{{ path('folder_display', {id: result.id, type: 'dir'}) }}'">
        {% else %}
          <tr onclick="window.location.href='{{ path('folder_display', {id: result.id, type: 'file'}) }}'">
        {% endif %}
          <td style="padding-left:8px">
            {% if result.path is defined %}
              <i class="fa-regular fa-folder"></i>
            {% else %}
              <i class="fa-regular fa-file" style="padding-left:2px; padding-right:3px"></i>
            {% endif %}
            {{ result.name }}
          </td>
          <td>
            {% for tag in result.tags %}
              <span class="db-tag-label" style="z-index:0">{{ tag.name }}</span>
            {% endfor %}
          </td>
          <td>
            {% if result.dateModified is defined %}
              {{ result.dateModified|format_datetime('medium', 'short') }}
            {% endif %}
          </td>
          <td>
            {% if result.size is defined %}
              {{ result.size }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {# {{ include("context_menu.html.twig") }} #}
</div>

{% endblock %}