{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  {{ include("navbar.html.twig") }}

  <div class="db-container" style="max-width:60%">
    <div class="db-container w3-grey db-threequarter db-left db-max-large">
      <table class="w3-table-all">
        <tr>
          <th class='db-padding-small'>File Name</th>
          <th class='db-padding-small'>Date Modified</th>
          <th class='db-padding-small'>Filesize</th>
        </tr>
        {% for file in files %}
          <tr>
          <td class='db-table-row'><a href="{{ path('home', {id: file.id}) }}">{{ file.name }}</a></td>
          <td class='db-table-row'>{{ file.dateModified|format_datetime('medium', 'short') }}</td>
          <td class='db-table-row'>{{ file.size }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="db-container db-quarter db-left db-max-small">
      {% if file is not empty %}
      <p class="db-border db-panel">
          <b>Details</b>
          <br>
          {{ file.name }}
          <br>
          {{ file.size }}
          <br>
          {{ file.dateModified|format_datetime('short', 'short') }}
          <br>
          <button type="button" name="trash_file" onclick="trash_file({{ file.id }})">Trash File</button>
      </p>
      {% endif %}
    </div>
  </div>


  <script>
    function trash_file(file_id) {
      result = window.confirm("Really trash file?\nFile will be moved to TRASH");
      if (result === true) {
        const route = "{{ path('trash_file', {file_id: 'file_id_value'})|escape('js') }}".replace('file_id_value', file_id);
        window.location.replace(route);
      }
    }

  </script>

{% endblock %}
