{% extends 'base.html.twig' %}

{% block title %}Trash{% endblock %}

{% block body %}
  {{ include("navbar.html.twig") }}

  <div style="max-width:60%">
    <div class="db-threequarter db-left db-max-large">
      <table class="db-table">
        <tr>
          <th style="padding-left:8px">File Name</th>
          <th>Date Trashed</th>
          <th>Filesize</th>
        </tr>
        {% for file in files %}
          <tr>
            <td style="padding-left:8px"><a href="{{ path('trash_display', {id: file.id}) }}">{{ file.name }}</a></td>
            <td>{{ file.dateTrashed|format_datetime('medium', 'short') }}</td>
            <td>{{ file.size }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="db-container db-quarter db-left db-max-small db-info">
      {% if file is not empty %}
      <p class="db-border db-panel">
          <b>Details</b>
          <br>
          {{ file.name }}
          <br>
          {{ file.size }}
          <br>
          {{ file.dateTrashed|format_datetime('short', 'short') }}
          <br>
          <button type="button" class="db-button" name="trash_file" onclick="delete_file({{ file.id }})">Delete File</button>
      </p>
      {% endif %}
    </div>
  </div>


  <script>
    function delete_file(file_id) {
      result = window.confirm("Really DELETE file?\nFile and related data will be DELETED PERMANENTLY");
      if (result === true) {
        const route = "{{ path('delete_file', {file_id: 'file_id_value'})|escape('js') }}".replace('file_id_value', file_id);
        window.location.replace(route);
      }
    }

  </script>

{% endblock %}
