{% extends 'base.html.twig' %}
{% block title %}Trash{% endblock %}
{% block body %}
{{ include("navbar.html.twig") }}

<div style="max-width:60%">
  <div class="db-threequarter db-left db-max-large">
    <table class="db-table">
      <tr>
        <th style="padding-left:8px">Name</th>
        <th>Date Trashed</th>
        <th>Filesize</th>
      </tr>
      {% for result in results %}
        {% if result.path is defined %}
          <tr onclick="window.location.href='{{ path('trash_display', {id: result.id, type: 'dir'}) }}'">
        {% else %}
          <tr onclick="window.location.href='{{ path('trash_display', {id: result.id, type: 'file'}) }}'">
        {% endif %}
          <td style="padding-left:8px">
            {% if result.path is defined %}
              <a href="{{ path('trash_display', {id: result.id, type: 'dir'}) }}">{{ result.name }}</a>
            {% else %}
              <a href="{{ path('trash_display', {id: result.id, type: 'file'}) }}">{{ result.name }}</a>
            {% endif %}
          </td>
          <td>{{ result.dateTrashed|format_datetime('medium', 'short') }}</td>
          <td>
            {% if result.size is defined %}
              {{ result.size }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {{ include("displays/action-bar.html.twig") }}
</div>
{% endblock %}
