{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  {{ include("navbar.html.twig") }}

  <div class="w3-container w3-grey w3-threequarter w3-left">
    <table class="w3-table-all">
      <tr>
        <th style='padding:2px'>File Name</th>
        <th style='padding:2px'>Last Modified</th>
        <th style='padding:2px'>Filesize</th>
      </tr>
      {% for row in files %}
        <tr>
         <td class='w3-border' style='padding:2px'><a href="{{ path('home', {filename: row.filename}) }}">{{ row.filename }}</a></td>
         <td class='w3-border' style='padding:2px'>{{ row.mTime|format_datetime('medium', 'short') }}</td>
         <td class='w3-border' style='padding:2px'>{{ row.size // 1024 }} KB</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="w3-container w3-quarter w3-right">
    {% if file is not empty %}
    <p class="w3-card w3-border">
      <div class="w3-panel">
        <b>Details</b>
        <br>
        {{ file.filename }}
        <br>
        {{ file.size // 1024 }} KB
        <br>
      </div>
    </p>
    {% endif %}
  </div>

{% endblock %}
